<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="socket.io/socket.io.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js">
    <title>Handlebars CDN</title>
</head>
<body>
    <span>
        {{#if productos}}

<table class="tabla">
    <thead>
        <tr>Marca:</tr>
        <tr>Precio:</tr>
        <tr>Imagen:</tr>
    </thead>


<tbody>
    {{#each productos as |p| }}

    <tr>
        <td> {{ p.titulo }} </td>
        <td> {{ p.precio }} </td>
        <td> <img class="miniatura" src="{{p.imagen}}"></td>
    </tr>

    {{ /each }}
</tbody>

</table>

{{ else }}


    </span>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

<script>
        const template = Handlebars.compile('<h1>{{producto}}{{precio}}</h1>')
        const info = {
            producto: " Nero",
            precio: 620
        }
        const html = template(info)
        document.querySelector('span').innerHTML = html
    </script>
</body>
</html>